* {
    font-family: 'Montserrat', sans-serif;
}

::selection {
    color: white;
    background: #41ead4;
}

/* Bulma Editing*/

a:hover {
    color: #41ead4;
}

select {
    border-width: 2px!important;
}

select:focus {
    outline: none!important;
    outline-offset: 0!important;
    border-color: #41ead4!important;
    box-shadow: none!important;
}

.select::after {
    border-color: #dbdbdb!important;
}

.box,
.dropdown-content,
.select select,
.input {
    border-radius: 0!important;
}

.tag.is-success {
    background-color: #41ead4!important;
}

hr {
    margin: 1rem 0
}

.navbar-menu {
    box-shadow: none!important;
}
